body {
	background-color: #f0f2f5;
}

light-background {
	background-color: #f0f2f5;
}

.light-gradient {
	/* fallback for old browsers */
	background: #f0f2f5;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to top,
		rgba(240, 242, 245, 0.5),
		rgba(251, 252, 219, 0.5)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to top,
		rgba(240, 242, 245, 0.5),
		rgba(251, 252, 219, 0.5)
	);
}

.box-shadow {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 10px 80px rgba(0, 0, 0, 0.12);
	border: solid 1px lightgrey;
	border-radius: 10px;
}

.box-shadow:hover {
	/* fallback for old browsers */
	background: #f0f2f5;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to bottom,
		rgba(240, 242, 245, 0.5),
		rgba(251, 252, 219, 0.5)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to bottom,
		rgba(240, 242, 245, 0.5),
		rgba(251, 252, 219, 0.5)
	);
}

.validation_error_message {
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.box-shadow-no-effect {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 10px 80px rgba(0, 0, 0, 0.12);
	border: solid 1px lightgrey;
	border-radius: 10px;
}

.select-css {
	display: block;
	color: #444;
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 0.5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
		linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight: normal;
}

.post-banner {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.pagination_links:hover {
	background-color: black !important; 
	color: white !important;
}

.pagination_links {
	padding: 20px;
	margin: 10px;
}

.pagination_links strong  {
	padding: 20px;
	margin: 10px;
}

a.paginate_button {
	padding:5px;
	padding-left:20px;
	padding-right:20px; 
	background-color:white;
	font-size:18px;
}

.current {
	background-color:black !important;
	color:white;
}
